<!DOCTYPE html>

<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Formulário</title>
</head>
<body>
    <form action="/Cadastro/Incluir" method="post">
        <input name="titulo" placeholder="Título do livro"/>   
        <input name="autor" placeholder="Autor do Livro"/>   
        <button name="gravar" id="btn_gravar">Gravar</button>

    </form>
</body>
</html>